.NavBar {
  width: 100%;
  padding: 0 3ch;

  background-color: hsl(0, 0%, 90%);
  color: hsl(0, 0%, 30%);
}

.NavBarList {
    list-style: none;
    
    padding: 0;
    margin: 0;
}

.NavBarListItem {
    display: inline-block;
    margin: 0 3ch 0 0;
}