.NavBar {
  width: 100%;
  padding: 0 3ch;

  display: flex;
  justify-content: space-between;

  background-color: hsl(0, 0%, 90%);
  color: hsl(0, 0%, 30%);

  &List {
    list-style: none;
    
    padding: 0;
    margin: 0;

    &Item {
      display: inline-block;
      margin: 0 3ch 0 0;
    }
  }
}